[Unit]
Description=Weekly backup data.lan shares using restic

[Timer]
OnCalendar=Sat 23:00:00
Persistent=true
Unit=backup.service # this should be the name of the service file

[Install]
WantedBy=timers.target